*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    width: 25%;
    height: 100vh;
    background-color: antiquewhite;
    padding: 10px;
    overflow: auto;
}
.app {
    display: flex;
}
.main {
    padding: 10px;
    width: 100%;
}
.department-card {
    width: 15rem;
    text-align: center;
}
.accordion-btn {
    width: 100%;
    margin: 5px 0;
}
.add-btn {
    margin-top: 10px;
    width: 100%;
}
.card-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: auto;
    align-items: flex-start;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
        padding: 5px;
    }
}
.load {
    height: 100vh;
}